# ============================= Core dependencies ================================
pandas
numpy>=1.23.0
matplotlib
seaborn
joblib
mlflow
dvc
dagshub
dvc-gs
google-cloud-storage
flask
python-dotenv
python-box
pyyaml
tqdm
ensure
types-PyYAML
scipy
scikit-learn>=1.1.0
Cython>=3.0.0
# ipykernel
gunicorn

# ============================= ML-related libraries ============================
lightgbm==3.3.2
imbalanced-learn
statsmodels
