# =============================
# Core dependencies
# =============================
scikit-learn==1.0.2
Cython==0.29.23
pandas
numpy
matplotlib
seaborn
joblib
mlflow
dvc
dagshub
dvc-gs
google-cloud-storage
flask
python-dotenv
python-box
pyyaml
tqdm
ensure
types-PyYAML
scipy
# ipykernel
gunicorn
# =============================
# ML-related libraries
# =============================
lightgbm==3.3.2
imbalanced-learn
statsmodels
