name: CI/CD Deployment to GCP

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
    PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
    GCP_SA_KEY: ${{secrets.GCP_SA_KEY }}
    ARTIFACT_REGISTRY_URL: us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/my-repo/credit-card-risk-prediction
    IMAGE_TAG: us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/my-repo/credit-card-risk-prediction:${{ github.sha }}

jobs:
  build_and_push_image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-


      # Install build dependencies (setuptools, cython, wheel)
      - name: Install build dependencies
        run: |
          pip install --upgrade pip
          pip install setuptools==59.5.0 cython==0.29.24 wheel

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      # Install dependencies and force binary wheels for scikit-learn
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt --prefer-binary --no-cache-dir

      # Install system dependencies (gcc, build-essential)
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential gcc libatlas-base-dev
          sudo apt-get install -y libatlas-base-dev gfortran

      # Set up Google Cloud Authentication
      - name: Set up Google Cloud Authentication
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          access_token_scopes: https://www.googleapis.com/auth/cloud-platform

      # Run data processing and model training
          # dvc pull artifacts/raw/train.csv
      - name: Run data Ingestion
        run: |
          export PYTHONPATH=$(pwd)/src:$PYTHONPATH
          python src/CreditRisk/components/data_ingestion.py

      - name: Run data processing
        run: |
          export PYTHONPATH=$(pwd)/src:$PYTHONPATH
          python src/CreditRisk/components/data_preprocessing.py

      - name: Run model training
        run: |
          export PYTHONPATH=$(pwd)/src:$PYTHONPATH
          python src/CreditRisk/components/model_training.py

      # Set up Google Cloud SDK
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v3
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          version: latest

      # Configure Docker with Artifact Registry
      - name: Configure Docker with Artifact Registry
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t ${{ env.IMAGE_TAG }} .

      # Push Docker image to Artifact Registry
      - name: Push Docker image to Artifact Registry
        run: |
          docker push ${{ env.IMAGE_TAG }}

      # Deploy to Cloud Run
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy credit-prediction \
            --image ${{ env.IMAGE_TAG }} \
            --platform managed \
            --region ${{ env.REGION }} \
            --allow-unauthenticated