name: CI/CD Deployment to GCP

on:
  push:
    branches:
      - main  # Trigger on pushes to the main branch
  pull_request:
    branches:
      - main  # Trigger on pull requests to the main branch

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
  IMAGE_TAG: gcr.io/${{ secrets.GCP_PROJECT_ID }}/credit-card-risk-prediction:v1.0

jobs:
  # Job 1: Build, test and push Docker image
  build_and_push_image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      # Ensure the src directory is available
      # - name: List repository files
      #   run: |
      #     ls -R  # List all files to check if 'src' is present

      # Run data preprocessing (Ensure PYTHONPATH includes 'src')
      - name: Run data processing
        run: |
          export PYTHONPATH=$(pwd)/src:$PYTHONPATH
          python src/CreditRisk/components/data_preprocessing.py  # Your data preprocessing script

      # Run model training
      - name: Run model training
        run: |
          export PYTHONPATH=$(pwd)/src:$PYTHONPATH
          python src/CreditRisk/components/train.py  # Your model training script

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t ${{ env.IMAGE_TAG }} .

      # Push Docker image to Google Container Registry (GCR)
      - name: Push Docker image to Google Container Registry (GCR)
        run: |
          docker push ${{ env.IMAGE_TAG }}

  # Job 2: Deploy to GCP App Engine (after successful tests)
  deploy_to_gcp:
    runs-on: ubuntu-latest
    needs: build_and_push_image  # This job will run only after build_and_push_image completes

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0  # Pre-built action to set up GCP CLI
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}  # Authenticate with service account

      - name: Configure Google Cloud
        run: |
          gcloud config set project $PROJECT_ID

      - name: Deploy to Google Cloud App Engine
        run: |
          gcloud app browse --quiet  # Opens the deployed application (optional, useful for debugging)
          gcloud app deploy app.yaml --quiet  # Deploys the app using your app.yaml file
