name: CI/CD Deployment to GCP

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
  IMAGE_TAG: gcr.io/${{ secrets.GCP_PROJECT_ID }}/credit-card-risk-prediction:v1.0

jobs:
  # Job 1: Build, test and push Docker image
  build_and_push_image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}  # Correct input for the service account key
          version: latest  # Optional: specify the version of gcloud to install

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      # Run data preprocessing
      - name: Run data processing
        run: |
          export PYTHONPATH=$(pwd)/src:$PYTHONPATH
          python src/CreditRisk/components/data_preprocessing.py

      # Run model training
      - name: Run model training
        run: |
          export PYTHONPATH=$(pwd)/src:$PYTHONPATH
          python src/CreditRisk/components/model_training.py

      - name: Set up Google Cloud credentials for Docker
        run: |
          echo "${{ secrets.GCP_SA_KEY }}" | gcloud auth activate-service-account --key-file=-
          gcloud auth configure-docker

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t ${{ env.IMAGE_TAG }} .

      # Push Docker image to Google Container Registry (GCR)
      - name: Push Docker image to Google Container Registry (GCR)
        run: |
          docker push ${{ env.IMAGE_TAG }}

  # Job 2: Deploy to GCP App Engine (after successful tests)
  deploy_to_gcp:
    runs-on: ubuntu-latest
    needs: build_and_push_image  # Ensures that this job runs after the first one

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}  # Correct input for the service account key

      - name: Configure Google Cloud
        run: |
          gcloud config set project $PROJECT_ID

      - name: Deploy to Google Cloud App Engine
        run: |
          gcloud app browse --quiet  # Optional: Browse the app after deployment
          gcloud app deploy app.yaml --quiet  # Deploy the app to App Engine
